listening-port=3478
tls-listening-port=5349
fingerprint
use-auth-secret
static-auth-secret=__TURN_SHARED_SECRET__
realm=__TURN_REALM__
server-name=__TURN_REALM__
external-ip=__TURN_EXTERNAL_IP__
lt-cred-mech
stale-nonce=600
total-quota=200
bps-capacity=0
no-multicast-peers
no-loopback-peers
no-cli
cert=__TURN_CERT__
pkey=__TURN_PKEY__
min-port=__TURN_MIN_PORT__
max-port=__TURN_MAX_PORT__
